html,
body {
  height: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow: hidden;
}

.canvas canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.map-toolbar-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  pointer-events: none;
  bottom: 1rem;
  z-index: 10;
}

.map-toolbar {
  gap: 0.3rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1px;
}

.ui {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: var(--blur-filter);
  pointer-events: all;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.3rem;
  scale: 0.7;
}

.ui:hover {
  background-color: #f0f0f0;
}

.ui > svg {
  color: black;
}

.ui:hover > svg {
  color: black;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bim {
  width: 1vw;
  height: 100vh;
  overflow: hidden;
}

#map-container {
  width: 99vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

#inputs-container {
  visibility: hidden;
  display: flex;
  background-color: white;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  border-radius: 0.3rem;
  width: 180px;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  font-size: 0.8rem;
  padding: 1rem;
  color: black;
  font-weight: bold;
  gap: 0.5rem;
  text-align: center;
  border-right: 1px solid silver;
}

#model-tools {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}

.options-menu {
  position: fixed;
  min-width: unset;
  top: 5px;
  right: 5px;
  max-height: calc(100vh - 10px);
  max-width: 15rem;
}

.phone-menu-toggler {
  visibility: hidden;
}

@media (max-width: 480px) {
  .options-menu {
    visibility: hidden;
    bottom: 5px;
    left: 5px;
    max-width: none;
  }

  .options-menu-visible {
    visibility: visible;
  }

  .phone-menu-toggler {
    visibility: visible;
    position: fixed;
    top: 5px;
    right: 5px;
  }
}
